---

---
<div class="bg-base transition-all rounded-xl px-6 pt-2 pb-4 mt-4">
    <div id="comment" class="h-64 animate-pulse bg-back rounded-xl mt-2"></div>
</div>
<script is:inline src="https://cdn.staticfile.net/twikoo/1.6.40/twikoo.all.min.js"/>
<script>
    import {siteConfig} from "../config";

    if (siteConfig.twikoo_uri !== undefined) {
        let twikoo: any = window['twikoo']
        twikoo.init({
            envId: siteConfig.twikoo_uri,
            el: '#comment',
            lang: navigator.language,
        })
    }
</script>
